* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(123, 167, 118);
    min-height: 100vh;
    min-width: 50vh;
    max-width: 50%;
    margin: 0 auto;
    gap: 0.4rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    width: 85%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.label-info {
    font-size: 1.5rem;
}

.input {
    width: 90%;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    padding: 0.6rem 1rem;
    font-size: 1.25rem;
    background-color: rgb(47, 143, 47);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-bottom: 1.7rem;
}

#error-message {
    display: none;
    color: red;
}

caption {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 800;
}

.change-table {
    display: none;
    max-width: 90%;
    font-size: 1.2rem;
    color: #000;
    overflow: auto;
}

td,
th {
    border: 1px solid black;
    min-width: 5vw;
    padding: 0.5rem;
}

.change-table td {
    text-align: center;
}

.no-of-notes {
    color: purple;
}